<div class="flex flex-wrap justify-center px-4">
  <div class="pr-4 flex items-center pt-4">
    <span class="pr-1 text-gray-700">Elapsed:</span>
    <span class="text-gray-900">
      {{ getElapsedTime() }}
    </span>
  </div>
  <div class="pr-4 pt-4">
    <span class="pr-1 text-gray-700">
      Difficulty
    </span>
    <select
      class="h-full py-1 rounded px-2 bg-gray-400 hover:bg-gray-500 cursor-pointer text-gray-800"
      [(ngModel)]="selectedItem"
    >
      <option
        class="bg-white text-gray-800"
        *ngFor="let dl of difficultyLevels"
        [ngValue]="dl"
        >{{ dl.name }}</option
      >
    </select>
  </div>
  <div class="pr-4 pt-4">
    <button
      class="py-1 px-2 rounded bg-gray-400 hover:bg-gray-500 text-gray-800"
      (click)="onNewGameClick()"
    >
      New game
    </button>
  </div>
</div>

<app-board></app-board>

<div class="px-4 pb-4 flex justify-center">
  <app-board-controls></app-board-controls>
</div>
