<div class="px-4 flex justify-center">
  <div class="flex flex-wrap justify-center w-full max-w-xl">
    <div
      class="w-full flex justify-center items-center pt-4
      md:w-auto md:justify-start md:flex-1 md:pr-4"
    >
      <select
        class="w-40 h-full py-1 rounded px-2 bg-gray-200 hover:bg-gray-300 cursor-pointer text-blue-600"
        [(ngModel)]="selectedItem"
        style="height: 32px;"
      >
        <option
          class="bg-white text-gray-800"
          *ngFor="let dl of difficultyLevels"
          [ngValue]="dl"
          >{{ dl.name }}</option
        >
      </select>
    </div>
    <div
      class="w-full flex justify-center pt-4 items-center
      md:w-auto md:justify-center md:flex-1"
    >
      <span class="pr-1 text-gray-700">Elapsed:</span>
      <span class="text-gray-900">
        {{ gameTime$ | async | formatElapsedTime }}
      </span>
    </div>
    <div
      class="w-full flex justify-center pt-4
      md:w-auto md:justify-end md:flex-1 md:pl-4"
    >
      <button
        class="w-40 py-1 px-2 rounded bg-gray-200 hover:bg-gray-300 text-blue-600"
        (click)="onNewGameClick()"
      >
        New game
      </button>
    </div>
  </div>
</div>
