<div class="p-4 relative">
  <div class="max-w-xl relative">
    <div class="container"></div>
  </div>
  <div class="p-4 absolute inset-0 flex justify-center">
    <div class="w-full h-full max-w-xl container-grid">
      <ng-container
        *ngFor="let row of board$ | async; trackBy: trackRow; let i = index"
      >
        <ng-container
          *ngFor="let column of row; trackBy: trackItem; let j = index"
        >
          <div
            class="cell-container"
            [ngStyle]="{
              'grid-row': i + 1,
              'grid-column': j + 1
            }"
          >
            <app-cell [row]="i" [column]="j"></app-cell>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div
    *ngIf="boardSolved$ | async"
    class="absolute flex inset-0 items-center justify-center"
  >
    <div class="rounded bg-gray-200 text-blue-600 p-4">
      <div>Board solved in:</div>
      <div class="flex justify-center text-3xl">
        {{ gameTime$ | async | formatElapsedTime }}
      </div>
    </div>
  </div>
</div>
