<div *ngIf="!(boardSolved$ | async)">
  <div
    class="inline-block"
    *ngFor="let model of controlsModel; trackBy: trackByFn"
  >
    <div style="padding-left: 2px;padding-right: 2px;">
      <button
        [disabled]="getDisabled(model.value)"
        class="number-button rounded bg-gray-200 hover:bg-gray-300 p-2 text-blue-600"
        (click)="onClick(model.value)"
      >
        <ng-container *ngIf="model.value != 0">
          <span class="h-full">
            {{ model.value }}
          </span>
        </ng-container>
        <ng-container *ngIf="model.value == 0">
          <div class="relative">
            <div class="opacity-0">
              {{ model.value }}
            </div>
            <img
              class="absolute inset-0 w-full h-full"
              src="../../../assets/delete.svg"
            />
          </div>
        </ng-container>
      </button>
    </div>
  </div>
</div>
