<div
  class="h-full relative w-full"
  [ngClass]="(boardCell$ | async)?.selected == true ? 'bg-blue-200' : ''"
>
  <div
    *ngIf="DEBUG"
    class="debug-info pl-1 text-xs select-none"
    style="font-size: 0.6rem;"
  >
    r:{{ row }}:c{{ column }}, {{ (boardCell$ | async)?.selected }}
  </div>
  <button
    (click)="selectCell()"
    class="absolute inset-0 h-full w-full text-4xl focus:outline-none text-gray-800"
  >
    <span *ngIf="(boardCell$ | async)?.readonly">
      {{ (boardCell$ | async)?.solveValue }}
    </span>
    <span *ngIf="!(boardCell$ | async)?.readonly" class="text-blue-600">
      {{ (boardCell$ | async)?.userValue }}
    </span>
  </button>
</div>
