<div class="h-full relative w-full" [ngClass]="getCellBackgroundClass()">
  <div
    *ngIf="DEBUG"
    class="debug-info pl-1 text-xs select-none"
    style="font-size: 0.6rem;"
  >
    r:{{ row }}:c{{ column }}, {{ boardCell?.selected }}
  </div>
  <button
    (click)="selectCell()"
    class="absolute inset-0 h-full w-full text-4xl focus:outline-none text-gray-800"
  >
    <span *ngIf="boardCell?.readonly">
      {{ boardCell?.solveValue }}
    </span>
    <span *ngIf="!boardCell?.readonly" class="text-blue-600">
      {{ boardCell?.userValue }}
    </span>
  </button>
</div>
